<div align="center">
    <h2>
        <div>
            student id :@ViewBag.id
        </div>
        <div>
            student name :@ViewBag.name
        </div>
        <div>
            <img width="200px" height="100px" src=@ViewBag.imgaddress />
        </div>
    </h2>
</div>
